body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
  background: pink;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  display: flex;
}
#quote-box {
  background: white;
  width: 500px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 50px;
  overflow: hidden;
  justify-self: center;
  align-self: center;
}

#quote-box h1 {
  text-align: center;
}

#quote-box h1 i {
  margin-right: 3px;
}

#author {
  text-align: right;
  margin-right: 20px;
}

#new-quote {
  border: none;
  background: pink;
  border-radius: 4px;
  padding: 10px 15px;
  color: white;
}

#new-quote:hover {
  cursor: pointer;
  transition: 0.2s;
  opacity: 0.7;
}

.buttons {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 30px;
  margin-bottom: -20px;
}

#tweet-quote {
  font-size: 30px;
  margin: 0;
  padding: 0;
  color: pink;
}
